* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.music-box {
    width: 600px;
    background-color: #e6e6e6;
    margin: 50px auto;
    position: relative;
    padding: 20px;
}

#player {
    width: 400px;
    height: 160px;
}

.music-title {
    font-size: 26px;
}

.music-artist {
    text-align: left;
    height: 40px;
}

.music-cover {
    position: absolute;
    right: 10px;
    top: 25px;
}

.music-cover img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.music-progress {
    width: 400px;
}

.progress-time {
    margin: 10px;
}

.volume {
    float: right;
}

.control {
    margin: 10px 0;
}

.control span {
    margin: 0 10px;
}



#playlist {
    margin: 10px 0;
    background: #fff;
    list-style: none;
    padding: 10px;
}

#playlist li {
    padding: 2px 0;
    width: 100%;
}

#playlist li.active,#playlist li:hover {
    background: #e6e6e6;
}
